<?xml version="1.0"?>
<launch>
    <!-- ************************************************************************ -->
    <!-- Define world -->
    <arg name="world_t2" default="$(find kobuki_exer2)/worlds/taller2.world"/>
    <arg name="empty_world" default="$(find kobuki_gazebo)/worlds/empty.world"/>

    <!-- ************************************************************************ -->
    <!-- Launch Gazebo-->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_t2)"/> 
        <arg name="use_sim_time" value="true"/>
        <arg name="debug" value="false"/>
        <arg name="paused" value="false"/>
    </include>

    <!-- ************************************************************************ -->
    <!-- Spawn Robot-->

    <!-- Robot initial pose -->
    <arg name="x" default="-0.2"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.01"/>
    <arg name="roll" default="0.0"/>
    <arg name="pitch" default="0.0"/>
    <arg name="yaw" default="$(eval -180 * 3.141592 / 180.0)"/>

    <arg name="robot_name" value="kobuki"/>

    <param 
        name="robot_description" 
        command="$(find xacro)/xacro '$(find kobuki_camera_alvar)/urdf/kobuki_camera.urdf.xacro'"/>
    
    <node
        pkg="gazebo_ros" 
        type="spawn_model" 
        name="spawn_$(arg robot_name)"
        args="-x $(arg x) -y $(arg y) -z $(arg z)
            -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)
            -urdf -param robot_description 
            -model $(arg robot_name)"
        respawn="false">
    </node>

    <!-- ************************************************************************ -->
    <!-- State Publisher -->
    <node 
        pkg="robot_state_publisher" 
        type="robot_state_publisher" 
        name="robot_state_publisher" 
        output="screen"
    />

    <!-- ************************************************************************ -->
    
    <!-- <node name="rviz" pkg="rviz" type="rviz" /> -->
    

    <node 
        pkg="kobuki_exer2" 
        type="move_node.py" 
        name="moving" 
        output="screen">
        <rosparam file="$(find kobuki_exer2)/config/parameters.yaml" command="load" />                 
    </node>


</launch>